<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.mapper.CurrentPerchaseMapper">

	<!-- 회원 목록 가져오기 -->
	<select id="getList" resultType="com.zerock.domain.CurrentPerchaseVO">
		select * from product_perchase
	</select>
	
	
	<select id="getListWithPaging" resultType="com.zerock.domain.CurrentPerchaseVO">
		<![CDATA[
		select
			perchase_num, name, perchased_product, all_price, ordered_date,  delivery_status, product_num, payment, id, address, phone
		from
			(
				select
					rownum rn, a.PERCHASE_NUM, a.NAME, a.PERCHASED_PRODUCT, a.ALL_PRICE, a.ORDERED_DATE, a.DELIVERY_STATUS, a.PRODUCT_NUM, a.PAYMENT, a.ID, b.ADDRESS, b.PHONE
				from 
					product_perchase a , delivery_info b
				where
		]]>

	
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							a.name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'P'.toString()">
							a.perchased_product like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'D'.toString()">
							a.delivery_status like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
					
		<![CDATA[				
					a.perchase_num = b.perchase_num and	rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType ="int">
		<![CDATA[
			select count(*) from product_perchase where 
		]]>
		
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'P'.toString()">
							perchased_product like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'D'.toString()">
							delivery_status like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>

		<![CDATA[
			PERCHASE_NUM > 0
		]]>
		
	</select>
	
	
	<select id="read" resultType="com.zerock.domain.CurrentPerchaseVO">
	
		select
		    perchase_num, name, perchased_product, all_price, ordered_date,  delivery_status, product_num, payment, id, amount, product_price, address, phone, requests
		from
		    (
		        select
		            a.perchase_num, a.name, a.perchased_product, a.all_price, a.ordered_date, a.delivery_status, a.product_num, a.payment, a.id, b.amount, b.product_price, c.address, c.phone, c.requests
		        from 
		            product_perchase a, perchase_info b, delivery_info c
		        where
		            a.perchase_num = b.perchase_num and b.perchase_num = c.perchase_num 
		    )
		where
		    perchase_num = #{perchase_num}
	</select>
	
	<delete id="delete">
		delete from animal_info where board_num = #{board_num}
	</delete>
	
	
</mapper>