<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.mapper.FBReplyMapper">
	
	<insert id="insert">
		insert into free_board_reply(rno, bno, reply, id)
		values (seq_replyFB.nextval, #{bno}, #{reply}, #{id})
	</insert>
	
	<select id="read" resultType="com.zerock.domain.FBReplyVO">
		select * from free_board_reply where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from free_board_reply where rno = #{rno}
	</delete>
	
	<update id="update">
		update free_board_reply set reply = #{reply}, updatedate = sysdate where rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType = "com.zerock.domain.FBReplyVO">
		select rno, bno, reply, id, replydate, updatedate
		from free_board_reply
		where bno = #{bno}
		order by rno asc
	</select>
	
</mapper>


