<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.mapper.NoticeMapper">

<!-- 공지사항 전체 목록 -->
<select id="getList" resultType="com.zerock.domain.NoticeVO">
	<![CDATA[
	select * from notice where bno > 0
	]]>
</select>

<!-- 공지사항 전체 목록 + 페이지네이션 -->
<select id="getListPaging" resultType="com.zerock.domain.NoticeVO">
	<![CDATA[
	select
		bno, title, content, id, regdate, updatedate, count from
			(
				select /*+INDEX_DESC(notice pk_notice) */
				rownum rn, bno, title, content, id, regdate, updatedate, count
				from notice
				where
	]]>

	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'I'.toString()">
						id like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
				
	<![CDATA[				
				rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>

<!-- 공지사항 전체 데이터 갯수 처리 -->
<select id="getTotalCount" resultType="int">
	<![CDATA[
	select count(*) from notice where 
	]]>
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'I'.toString()">
						id like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>	
	<![CDATA[
	bno > 0
	]]>
</select>

<!-- 공지사항 특정글 조회 -->
<select id="read" resultType="com.zerock.domain.NoticeVO">
	select * from notice where bno = #{bno}
</select>

<!-- 조회수 추가 -->
<update id="viewCount">
	update notice
	set
	count = count + 1
	where bno = #{bno}
</update>

</mapper>